<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title">
      <span class="icon-container">
        <img src="/static/images/LOGO123.png" alt="Icono" class="img-circle icon" width="50" height="50">
      </span>
      <span style="font-size: 14px;">FICCT TRANSLATE</span>
    </a>
  </div>

  <!--<div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>Gentelella Alela!</span></a>
  </div> -->

  <div class="clearfix"></div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/dashboard_admin"><i class="fa fa-home"></i> Home</span></a></li>
        <li><a href="/admin_plans/" ><i class="fa fa-credit-card"></i>Planes</span></a>
        <li><a href="/admin_users" ><i class="fa fa-credit-card"></i>Usuarios</span></a> <!-- agreagar aqui la ruta pra usuarios  -->
        </li>

        <li><a><i class="fa fa-language"></i> Traducción <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/presencial">Presencial</a></li>
            <li><a href="/audio">Audio</a></li>
            <li><a href="/video">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="menu_section">
    <h3>Basic (Free)</h3>
    <div class="progreso">
      <div class="progress progress_sm" style="width: 76%;">
        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="10"></div>
      </div>
    </div>
    <p class="minutes">17 of 300 monthly minutes used</p>
    <a href="/card" class="botonsidebar">Get Otter Pro</a>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>

<style>
  .img-circle {
    border-radius: 90;
  }

  .small-text {
    font-size: 14px;
  }
</style>