<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title">
      <span class="icon-container">
        <img src="/static/images/LOGO123.png" alt="Icono" class="img-circle icon" width="50" height="50">
      </span>
      <span style="font-size: 14px;">FICCT TRANSLATE</span>
    </a>
  </div>

  <!--<div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>Gentelella Alela!</span></a>
  </div> -->

  <div class="clearfix"></div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/dashboard_admin"><i class="fa fa-home"></i> Home</span></a></li>
        <li><a href="/admin_plans/" ><i class="fa fa-credit-card"></i>Planes</span></a>
        <li><a href="/admin_users" ><i class="fa fa-credit-card"></i>Usuarios</span></a> <!-- agreagar aqui la ruta pra usuarios  -->
        </li>
      </ul>
    </div>
  </div>


  <!-- /menu footer buttons -->
</div>

<style>
  .img-circle {
    border-radius: 90;
  }

  .small-text {
    font-size: 14px;
  }
</style>